<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads of the Pattern</title>
</head>
<body class="default">
    <h2>Welcome to Threads of the Pattern! Enter a command below.</h2>
    <p>
        <b>Valid commands:</b><br />
        TODO: update this! These commands are out of date<br />
        add_char=&lt;Character Name&gt;: Presents form to add new character to library<br />
        edit_char=&lt;Character Name&gt;: Presents form to edit character info in library. Accepts aliases.<br />
        disp_save: Displays save file info.<br />
        disp_book: Displays database info for book in save file.<br />
        disp_chapter=&lt;Chapter Name&gt;: Displays database info on named chapter for book in save file.<br />
        disp_char=&lt;Character Name&gt;: Displays databse info for named character. Accepts aliases.<br />
        text_tool: Opens text parsing tool for current save file.
    </p>
    <form action="/cmd_in" method="post">
        <label for="save_box">Save File:</label>
        <input type="text" name="save_box" value="data\eotw.sav"><br />
        <label for="cmd_box">Command:</label>
        <input type="text" name="cmd_box"><br />
        <input type="submit" value="Submit">
    </form>
    <br />
    <label for="prev_cmd">Previous Command:</label><br/>
    <input readonly value="{{cmd_in}}"/>
    <p><b>Command Output:</b></p>
    <textarea readonly>{{cmd_out}}</textarea>
</body>
</html>
<style>
    * {
        font-family: Calibri;
        background-color: lightgrey;
        color: black;
    }
    textarea {
        overflow-y: scroll;
        overflow-x: scroll;
        height: 500px;
        width: 90%;
        resize: none;
    }
</style>
