<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Threads of the Pattern</title>
	</head>
    <body onload="init('{{char_gender}}', '{{action}}')">
        <h2>Modify Character Info</h2>
        <form action="/char_form_in" method="post">
            <label for="base_name">Database Name:</label><br />
            <input type="text" name="base_name" value='{{char_name}}' readonly /><br/>
            <label for="name_box">Character Name:</label><br />
            <input type="text" name="name_box" value='{{char_name}}'><br />
            <label for="alias_box">Aliases:</label><br />
            <textarea name="alias_box">{{char_aliases}}</textarea><br />
            <label for="tier_box">Tier:</label><br />
            <input type="text" name="tier_box" value={{char_tier}}><br />
            Gender:<br />
            <input type="radio" id="Male" name="gender" value="Male">
            <label for="male">  Male  </label>
            <input type="radio" id="Female" name="gender" value="Female">
            <label for="female">  Female  </label>
            <input type="radio" id="Other" name="gender" value="Other">
            <label for="other">  Other</label><br />
            Color:<br />
            <label for="r_box">R:</label>
            <input type="text" name="r_box" value={{char_r}}>
            <label for="g_box">  G:</label>
            <input type="text" name="g_box" value={{char_g}}>
            <label for="b_box">  B:</label>
            <input type="text" name="b_box" value={{char_b}}><br />
            <label for="tag_box">Tags:</label><br />
            <textarea name="tag_box">{{char_tags}}</textarea><br />
            Action:<br />
            <input type="radio" id="add" name="action" value="add">
            <label for="add">  Add  </label>
            <input type="radio" id="edit" name="action" value="edit">
            <label for="edit">  Edit</label><br />
            <input type="submit" value="Submit">
        </form>
     </body>
</html>
<style>
    textarea {
        overflow-y: scroll;
        height: 150px;
        width: 250px;
    }
</style>
<script>
    function init(gender, action) {
        if (gender != '') {
            var gender_button = document.getElementById(gender);
            gender_button.checked = "checked";
        }
        if (action != '') {
            var action_button = document.getElementById(action);
            action_button.checked = "checked";
        }
    }
</script>